<%- include('header')  %>
<link rel="stylesheet" href="register.css">
<form action="/user/register" method="post" class="mt-5" id="main">
    
        <h3 class="text-center display-4 mb-5">Register</h3>
        <label > Username</label> 
        <input type="text" name="username" id="">
        <br>
        <label>Password</label>
        <input type="password" name="password" id="">
        <br>
        <label>Email</label>
        <input type="email" name="email" id="">
        <input type="submit" value="submit"class="btn btn-primary" id="submit">
   
</form>
<%- include('footer') %>