a{
    color: white;
    text-decoration: none;
    
}
a:hover{
    color: white;
    text-decoration: none;
}

#text{
    height: 37px;
    width: 500px;
    margin-bottom: 20px;
}
p{
    font-size: 30px;
}
#inside{
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 20px;
    width: 50%;
    align-items: center;
}
button{
    margin-bottom: 20px;
}
.btn{
    background-color: #73AD21;
}
